<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${page_title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <X-CSRF-TOKEN></X-CSRF-TOKEN>
</head>

<body>
<div class="login">
    <h2 th:text="${title}"/>
    <th:form th:name="${form_name}" th:action="${action}" th:method="post">
        <fieldset>
            <input th:type="email" th:placeholder="Email"/>
            <input th:type="password" th:placeholder="Password"/>
        </fieldset>
        <input type="submit" th:value="${submitText}"/>
        <th:input th:type="hidden"
                  th:name="${_csrf.parameterName}"
                  th:value="${_csrf.token}"/>
    </th:form>
    <div class="utilities">
        <a th:href="${redirect_login}" th:text="${login_text}"/>
        <a th:href="${redirect_register}" th:text="${register_text}"/>
        <a th:href="${redirect_reset}" th:text="${reset_text}"/>

    </div>
</div>
<div class="message">
    <text th:text ="${message}"/>
</div>


</body>
</html>
